@import "./variables/__variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vh;
  font-family: $open-sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  word-break: break-word;
  scroll-behavior: smooth;
}

body {
  color: $neutral-dark;
}

a {
  color: $primary-main;
  text-decoration: none;
  // transition: 0.3s ease-in-out;

  &:hover,
  &:active {
    // color: $secondary-250;
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $nunito;
  color: $neutral-dark;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
  font-weight: 700;
}

h6 {
  font-size: $font-size-h6;
}

p {
  font-family: $open-sans;
  color: $neutral-dark;
  font-size: $font-size-p;
}
