@import "../styles/variables/__variables";

// sm => @media (min-width: 576px) { ... }

// md => @media (min-width: 768px) { ... }

// lg => @media (min-width: 992px) { ... }

// xl => @media (min-width: 1200px) { ... }

// xxl => @media (min-width: 1400px) { ... }

// .aboutContainer::before {
//   content: "";
//   display: block;
//   position: absolute;
//   width: 100%;
//   height: 30%;
//   // top: -375px;
//   top: calc(-280px + 5vw);
//   background-repeat: no-repeat;
//   background-size: 2300px;
//   background-position: center 100.5%;
//   background-image: url("/peaks.svg");
// }

// .teamContainer::before {
//   content: "";
//   display: block;
//   position: absolute;
//   width: 100%;
//   height: 30%;
//   // top: -375px;
//   top: calc(-280px + 5vw);
//   background-repeat: no-repeat;
//   background-size: 2300px;
//   background-position: center 100.5%;
//   background-image: url("/peaks3.svg");
// }

// @media (orientation: landscape) {
//   .header,
//   .aboutContainer,
//   .teamContainer,
//   .contactContainer {
//     position: relative;
//     height: 200vh;
//   }
// }

.header,
.aboutContainer,
.teamContainer,
.contactContainer {
  // position: relative;
  height: 100%;
  width: 100%;
}

@media (min-width: 576px) {
  .header,
  .aboutContainer,
  .teamContainer,
  .contactContainer {
    position: relative;
    height: 100vh;
  }

  // .aboutContainer::before {
  //   content: "";
  //   // display: block;
  //   position: absolute;
  //   width: 100%;
  //   height: 30%;
  //   top: calc(-220px + 5vw);
  //   background-repeat: no-repeat;
  //   background-size: 2300px;
  //   background-position: center 100.5%;
  //   background-image: url("/peaks.svg");
  // }

  // .contactContainer::after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   width: 100%;
  //   height: 20%;
  //   // top: -35px;
  //   top: calc(630px + 5vw);
  //   background-repeat: no-repeat;
  //   background-size: 1800px;
  //   background-position: center 100.5%;
  //   background-image: url("/peaks-color.svg");
  // }
}

@media (min-width: 1400px) {
  // .contactContainer::after {
  //   background-size: 2000px;
  // }
}
