@import "../styles/variables/__variables";

.header {
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding-bottom: 9rem;

  .title {
    color: $primary-200;
    text-align: left;
    font-weight: 600;
    line-height: 6rem;
  }

  .subtitle {
    color: $secondary-250;
    font-weight: 600;
  }
}

.grid {
  // align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // width: 100%;

  > * {
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 8fr;
    column-gap: 4rem;

    > * {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .gridContent {
    display: grid;
    align-content: center;
  }

  .gridTitle {
    display: grid;
    align-content: center;
  }
}

.aboutContainer {
  padding-bottom: 0;
  padding-top: 0;

  .aboutImg {
    padding-bottom: 2rem;
  }

  p {
    font-size: $font-size-p-sm;
    font-weight: 300;
    color: $neutral-500;
  }
}

.arrowSideContainer {
  display: grid;
  justify-self: start;
  align-self: center;
  // padding-top: 3.5rem;
  // padding-bottom: 2.5rem;
}

.arrowSide {
  transform: rotate(90deg);
  &:hover {
    cursor: pointer;
  }
}

.container {
  h2 {
    color: $primary-200;
    font-weight: bold;
    padding-top: 2rem;
    &:hover {
      cursor: pointer;
    }
  }

  h4 {
    color: $secondary-200;
    font-weight: normal;
    padding-top: 0.2rem;
  }

  p {
    padding-top: 2rem;
  }

  .pSmall {
    font-size: $font-size-p-sm;
    padding-top: 0.3rem;
    font-weight: 300;
  }
}

.cardContainer {
  padding-left: 15rem;
  padding-right: 15rem;
}

.card {
  padding-bottom: 7rem;
  text-align: left;
  border-top: 1px solid $neutral-200;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.tagContainer {
  display: flex;
  align-items: center;
  padding-top: 2rem;

  button {
    position: relative;

    &:first-child {
      margin-right: 0.5rem;
    }

    &:nth-child(2) {
      margin-right: 0.5rem;
    }

    &:last-child {
      margin-right: 0.5;
    }
  }
}

.arrowUpContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  height: 100%;
}

.arrowUp {
  display: flex;
  transform: rotate(180deg);

  &:hover {
    cursor: pointer;
  }
}

.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &:last-child {
    padding-bottom: 5rem;
  }
}
