@import "../../styles/variables/__variables";

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
}

.grid {
  display: grid;

  .headlinesGrid {
    position: relative;
    display: grid;
    grid-row-start: 1;

    h1 {
      align-self: end;
      text-align: center;
    }

    h2 {
      align-self: start;
      text-align: center;
    }
  }

  .contentGrid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-row-start: 2;

    .arrowContainer{
      align-self: center;
      justify-self: center;
    }

    .teamContainer {
      display: grid;
      grid-template-rows: auto;
      // align-self: center;
      // justify-content: center;

      .teamGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .teamSubGrid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        align-self: space-evenly;
        justify-content: center;

        .teamItem {
          align-self: center;
        }
      }
      }
     
    }
  }

  .ctaGrid {
    position: relative;
    display: grid;
    grid-row-start: 3;
    align-items: end;
    justify-content: center;
  }

  .arrowDownGrid {
    position: relative;
    display: grid;
    grid-row-start: 4;
    align-self: start;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }
}
