@import "../../styles/variables/__variables";

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
}

.grid {
  display: grid;

  .headlinesGrid {
    position: relative;
    display: grid;
    grid-row-start: 1;

    h1 {
      align-self: end;
      text-align: center;
      color: $primary-dark;
    }

    h3 {
      align-self: start;
      text-align: center;
      font-weight: 500;
      color: $secondary-main;
    }
  }

  .contentGrid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-row-start: 2;

    .arrowContainer {
      align-self: center;
      justify-self: center;

      &:hover {
        cursor: pointer;
      }
    }

    .teamContainer {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 6rem;

      .teamGrid {
        display: grid;
        align-self: center;
        justify-self: center;

        .teamImage {
          border-radius: 100px;
        }

        h4,
        h5 {
          text-align: center;
        }

        h4 {
          text-transform: uppercase;
          padding-top: 2rem;
          padding-bottom: 1rem;
        }

        h5 {
          font-weight: 500;
        }
      }
    }
  }

  .ctaGrid {
    position: relative;
    display: grid;
    grid-row-start: 3;
    align-items: end;
    justify-content: center;
  }

  .arrowDownGrid {
    position: relative;
    display: grid;
    grid-row-start: 4;
    align-self: start;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }
}
