@import "../../styles/variables/__variables";

//Desktop

.about {
  // position: relative;
  // display: grid;
  // height: 100%;
  // width: 100%;

  position: relative;
  height: 100%;
  min-height: 75rem;
  width: 100vh;
  display: grid;
}

.bg {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  top: 50%;
  background-color: $primary-main;
  // opacity: 0.8;
}

// .bg::before {
//   content: "";
//   transform: rotate(180deg);
//   display: block;
//   position: absolute;
//   width: 100%;
//   height: 10%;
//   // top: -375px;
//   top: calc(-115px + 5vw);
//   background-repeat: no-repeat;
//   // background-size: 2300px;
//   background-position: center 100.5%;
//   background-image: url("/curve.svg");
// }


.container {
  display: grid;
  grid-template-rows: auto;

  .headlines {
    position: relative;
    display: grid;

    h1 {
      align-self: end;
      text-align: center;
      color: black;
    }

    h2 {
      align-self: start;
      text-align: center;
      font-weight: 400;
      color: $secondary-dark;
    }
  }

  .contentGrid {
    display: grid;

    .content {
      display: grid;
      align-self: start;
      text-align: center;
      padding-left: 3rem;
      padding-right: 3rem;

      p {
        font-size: $font-size-h5;
      }

      h5 {
        color: $neutral-dark;
        font-weight: 600;
      }
    }

    // .subHeadline {
    //   display: grid;
    //   align-self: end;
    //   padding-left: 5rem;
    //   padding-top: 3rem;
    //   padding-bottom: 3rem;
    // }

    .blocksContainer {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      padding-left: 3rem;
      padding-right: 3rem;
      // padding-bottom: 3rem;
      gap: 1.5rem; /* 24px */
      // align-items: flex-start;
      justify-items: center;
      align-self: start;

      h5 {
        font-weight: 500;
      }

      .block {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: white;
        padding: 1.5rem;
        border-radius: 0.5rem; /* 4px */
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
          0 8px 10px -6px rgb(0 0 0 / 0.1);

        img {
          fill: red;
          // display: inline-block;
          // font-size: 30px;
          // border-radius: 60px;
          // padding: 0.5em 0.7em;
          // color: red;
          // cursor: pointer;
          // background-color: $secondary-main;

          &:hover {
            fill: $secondary-main;
          }
        }

        h5 {
          font-weight: 600;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }

        h6 {
          font-weight: 400;
        }
      }
    }
  }

  .arrowDownGrid {
    z-index: 1;
    position: relative;
    display: grid;
    align-self: start;
    justify-content: center;

    h5 {
      text-align: center;
      font-weight: 500;
      padding-bottom: 1rem;
      color: white;
    }

    a {
      text-align: center;
      color: white;
      font-size: 20px;
    }

    .arrow {
      -moz-animation: bounce 3s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;

      @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-0.5rem);
        }
        60% {
          transform: translateY(-0.5rem);
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .about {
    min-height: 100%;
    width: 100%;

    .contentGrid {
      .content {
        padding-left: 10rem;
        padding-right: 10rem;

        p {
          font-size: $font-size-p;
          line-height: 1.5rem;
        }
      }

      .blocksContainer {
        padding-left: 15rem;
        padding-right: 15rem;
        padding-bottom: 3rem;
        align-items: flex-start;
        align-self: end;
      }
    }
  }
}
