@import "../../styles/variables/__variables";

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
}

.grid {
  display: grid;
  grid-template-rows: auto auto auto auto;

  .headlinesGrid {
    position: relative;
    display: grid;
    grid-row-start: 1;

    h1 {
      align-self: end;
      text-align: center;
      color: $primary-dark;
    }

    h3 {
      align-self: start;
      text-align: center;
      font-weight: 500;
      color: $secondary-main;
    }
  }

  .contentGrid {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-start: 2;

    .content {
      display: grid;
      // grid-template-rows: auto;
      align-self: center;
      justify-content: center;
      padding-right: 5rem;
      padding-left: 5rem;
    }
  }

  .ctaGrid {
    position: relative;
    display: grid;
    grid-row-start: 3;
    align-items: end;
    justify-content: center;
  }

  .arrowDownGrid {
    position: relative;
    display: grid;
    grid-row-start: 4;
    align-self: start;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }
}
