@import "../../styles/variables/__variables";

// @media (max-width: 768px) {
//   .container {
//     position: relative;
//     height: 100%;
//     min-height: 75rem;
//     width: 100vh;
//     display: grid;
//   }

//   .grid {
//     display: grid;

//     .headlinesGrid {
//       position: relative;
//       display: grid;
//       grid-row-start: 1;

//       h1 {
//         align-self: end;
//         text-align: center;
//         color: $primary-dark;
//       }

//       h3 {
//         align-self: start;
//         text-align: center;
//         font-weight: 500;
//         color: $secondary-main;
//       }
//     }

//     .contentGrid {
//       position: relative;
//       display: grid;

//       .content {
//         display: grid;
//         align-self: start;
//         justify-content: center;
//         padding-top: 1.5rem;

//         .iframe {
//           border: 0;
//         }
//       }

//       .contactGrid {
//         display: grid;
//         grid-template-rows: auto;
//         grid-template-columns: 1fr 2fr;
//         align-self: center;

//         .headlinesGrid {
//           display: grid;
//           align-self: start;
//           justify-content: center;
//         }
//         .headlinesItem {
//           align-self: end;
//           padding-top: 1.5rem;
//         }

//         .itemGrid {
//           display: grid;
//           align-self: start;
//           justify-content: left;
//         }
//         .contactItem {
//           align-self: end;
//           padding-top: 1.5rem;

//           h5 {
//             font-weight: 500;
//           }
//         }

//         .contactLogo {
//           padding-top: 1.5rem;
//           padding-right: 1.5rem;
//         }
//       }
//     }
//   }

//   .nav {
//     display: grid;
//     align-self: end;
//     background-color: $primary-main;
//   }
// }


  .contact {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
  }

  .container {
    display: grid;
    grid-template-rows: auto;

   
  .headlines {
    position: relative;
    display: grid;

    h1 {
      align-self: end;
      text-align: center;
      color: black;
    }

    h2 {
      align-self: start;
      text-align: center;
      font-weight: 400;
      color: $secondary-dark;
    }
  }

    .contentGrid {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-start: 2;

      .content {
        display: grid;
        align-self: start;
        justify-content: center;
        padding-left: 5rem;
        padding-top: 1.5rem;

        .iframe {
          border: 0;
        }
      }

      .contactGrid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 2fr;

        .headlinesGrid {
          display: grid;
          align-self: start;
          justify-content: center;
        }
        .headlinesItem {
          align-self: end;
          padding-top: 1.5rem;
        }

        .itemGrid {
          display: grid;

          align-self: start;
          justify-content: left;
        }
        .contactItem {
          align-self: end;
          padding-top: 1.5rem;

          h5 {
            font-weight: 500;
          }
        }

        .contactLogo {
          padding-top: 2.5rem;
          padding-right: 1.5rem;
        }
      }
    }
  }

  .nav {
    z-index: 1;
    display: grid;
    align-self: end;
    background-color: $primary-main;
  }

