@import "../../styles/variables/__variables";

.header {
  // padding-top: 9rem;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
 
}


.headerContainer {
  display: grid;
  // grid-template-columns: 1f ;
  grid-template-rows: auto auto auto ;
  align-items: center;
  justify-content: center;
}

.headlinesContainer {
  position: relative;
  display: grid;
  grid-row-start: 2;

  h1,
  h2 {
 
    color: white;
    text-align: center;
  }
}

.arrowDown {
  position: relative;
  display: grid;
  grid-row-start: 3;
  align-self: center;
  justify-content: center;
  
  // padding-top: 9rem;
  &:hover {
    cursor: pointer;
  }
}

