@import "../../styles/variables/__variables";

.header {
  padding-top: 9rem;
}

.headerContainer {
  display: grid;
}

.headlinesWrap {
  position: relative;

  h1,
  h2 {
    text-shadow: 1px 1px 1px #3c5c5e;
    color: white;
    text-align: center;
  }
}

.arrowDownContainer {
  display: grid;
  justify-self: center;
  align-self: start;
  padding-top: 9rem;
}

.arrowDown {
  display: grid;

  &:hover {
    cursor: pointer;
  }
}
