.primaryButton {
  font-size: $font-size-h5;
  font-family: $nunito;
  color: white;
  background-color: $primary-dark;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  cursor: pointer;
  text-decoration: none;
  width: 13rem;
  height: 3rem;

  &:hover {
    background-color: $secondary-main;
  }
}

.teamButton {
  font-size: $font-size-h6;
  font-family: $nunito;
  color: white;
  background-color: $secondary-dark;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  cursor: pointer;
  text-decoration: none;
  width: 10rem;
  height: 2rem;
  // text-transform: uppercase;

  &:hover {
    background-color: $primary-dark;
  }
}

.buttonTag {
  font-size: $font-caption;
  font-family: $open-sans;
  color: $primary-main;
  font-weight: 600;
  background-color: $neutral-main;
  background-color: white;
  border: solid 1px $neutral-main;
  border-radius: 12px;
  padding: 4px 16px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    border-color: $primary-main;
  }
}
