.button {
  font-size: $font-size-h5;
  font-family: $open-sans;
  color: $secondary-250;
  background-color: white;
  border: solid 2px $secondary-200;
  border-radius: 24px;
  padding: 5px 30px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: $secondary-200;
    color: $neutral-50;
    border-color: white;
  }
}

.buttonBrowse {
  font-size: $font-size-h5;
  font-family: $open-sans;
  color: $secondary-250;
  background-color: white;
  border: solid 2px $secondary-200;
  border-radius: 24px;
  padding: 5px 30px;
  cursor: pointer;
  text-decoration: none;

  &:focus {
    border-bottom: none;
  }
}

.buttonTag {
  font-size: $font-caption;
  font-family: $open-sans;
  color: $primary-200;
  font-weight: 600;
  background-color: $neutral-150;
  background-color: white;
  border: solid 1px $neutral-250;
  border-radius: 12px;
  padding: 4px 16px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    border-color: $primary-150;
  }
}
