/********** NEUTRAL COLORS **********/
$neutral-dark: #434850;
$neutral-main: #656e7d;
$neutral-light: #88909e;

/********** PRIMARY COLORS **********/
$primary-dark: #4a818b;
$primary-main: #59aabd;
$primary-light: #63c5d8;

/********** SECONDARY COLORS **********/
$secondary-dark: #d56639;
$secondary-main: #e48141;
$secondary-light: #ec9b56;

/********** SUCCESS COLORS **********/
$success-dark: #1f6f63;
$success-main: #279082;
$success-light: #3baca1;

/********** WARNING COLORS **********/
$warning-dark: #f2aa3e;
$warning-main: #fad74e;
$warning-light: #fbeb68;

/********** ERROR COLORS **********/
$error-dark: #b92728;
$error-main: #bec3cc;
$error-light: #e3504f;
