/********** NEUTRAL COLORS **********/
$neutral-50: #fafbff;
$neutral-100: #f5f8ff;
$neutral-150: #f2f4fb;
$neutral-200: #ebedf4;
$neutral-250: #dbe0e8;
$neutral-300: #bec3cc;
$neutral-350: #9da4b0;
$neutral-400: #777e8b;
$neutral-450: #545962;
$neutral-500: #303339;

/********** PRIMARY COLORS **********/
$primary-50: #ccd3eb;
$primary-100: #939ec6;
$primary-150: #6674a5;
$primary-200: #474a7b;
$primary-250: #283255;

/********** SECONDARY COLORS **********/
$secondary-50: #ffd4bc;
$secondary-100: #ffb288;
$secondary-150: #ff975c;
$secondary-200: #fe7020;
$secondary-250: #e25200;

/********** SUCCESS COLORS **********/
$success-50: #d5ffc7;
$success-100: #8fe173;
$success-150: #53b630;
$success-200: #3c921e;
$success-250: #1e5c09;

/********** WARNING COLORS **********/
$warning-50: #fff8b7;
$warning-100: #f5eb88;
$warning-150: #f4e452;
$warning-200: #e2ce18;
$warning-250: #bba909;

/********** ERROR COLORS **********/
$error-50: #ffb4aa;
$error-100: #ff8170;
$error-150: #f0523c;
$error-200: #c9331e;
$error-250: #9d1e0d;
