/********** Google Fonts **********/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/********** Fonts **********/
$nunito: "Nunito", sans-serif;
$open-sans: "Open Sans", sans-serif;

/********** Base **********/
$text-base-size: 10px;
$text-scale-ratio: 1.2;

/********** Size **********/
$font-size-display-lg: 4.8rem;
$font-size-display-sm: 3.5rem;

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;

$font-size-p: 1rem;
$font-size-p-sm: 0.875rem;

// $font-caption-lg: 0.9;
$font-caption: 0.75rem;
$font-caption-sm: 0.6rem;

// $font-caption-sm: 0.6rem;

/********** LINE HEIGHT **********/

/********** VIEW WIDTHS **********/
