@import "../../styles/variables/__variables";

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &:nth-child(2) {
    justify-content: left;
  }

  &:nth-child(4) {
    justify-content: right;
  }
  &:last-child {
    justify-content: left;
    padding-left: 1.5rem;
  }

  h6 {
    color: white;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      cursor: pointer;
    }
  }

  a {
    color: white;
    font-size: 24px;
  }
}
