@import "../../styles/variables/__variables";

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.navLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  a:hover {
    cursor: pointer;
  }
}

.navDescription {
  padding-left: 8rem;

  h5 {
    color: white;
  }
}

.navMenu {
  display: flex;
  align-items: center;
  flex-grow: 0;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    h5,
    a {
      color: white;
    }

    position: relative;
    z-index: 1;
    margin: 0 0.25em;

    &:first-child {
      margin-right: 3.5rem;
    }

    &:nth-child(2) {
      margin-right: 3.5rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
